@font-face{
  font-family: baloo;
  src: url('../assets/fonts/baloo.woff2') format('woff2')
}

@font-face{
  font-family: open_sans;
  src: url('../assets/fonts/open_sans.woff2') format('woff2')
}

*{
  font-family: baloo;
}
