page-intro {
  .letsgo{
    background-image: url('../../assets/imgs/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

  }
  .btn_go{
    width: 50%;
    height: 50%;
    margin-top: 49%;
    width: 50%;
    height: 50%;
  }
  .btn_managem{
    width: 50%;
  }
  .btn_copy{

  }
}
